body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
}
/*----------------------------------------------------------------------------------------------------------------*/

#waitingScreen {
  display: none;
}

#gameScreen {
  display: none;
}

#matchFoundScreen {
  display: none;
}

/*----------------------------------------------------------------------------------------------------------------*/

h1 {
  margin-top: 50px;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;

  justify-content: center;
  margin: 30px auto;
}

.cell {
  width: 100px;
  height: 100px;

  font-size: 40px;
  font-weight: bold;

  background-color: white;
  border: 2px solid black;

  cursor: pointer;
}

.cell:hover {
  background-color: #e5e5e5;
}

#message {
  font-size: 20px;
}

#restart {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#leaveGame {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
